body { 
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background:linear-gradient(to right,red,orange,yellow,green,aqua,blue,purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

header:hover {
    transition: 3s 1s;
    background:linear-gradient(to right bottom,red,orange,yellow,green,aqua,blue,purple);
    color: rgb(63, 37, 101);
    padding: 10px;
    font-size: 26pt;
}

footer {
    background:linear-gradient(to right,red,orange,yellow,green,aqua,blue,purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
}

footer:hover {
    transition: 3s 1s;
    background:linear-gradient(to right bottom,red,orange,yellow,green,aqua,blue,purple);
    color: rgb(40, 1, 100);
    padding: 10px;
    font-size: 22pt;
}
a {
    color: green; 
    text-decoration: none;
    text-shadow: 5px 5px 1px gray;
    transition: 3s 1s;
  }

a:visited {
    color: black;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    opacity: 1;
    text-shadow: 2px 3px 0.5px gray;
    transition: 3s 0.3s;
}

a:active {
    color: pink;
    background-color: green;
}